h1{
    font-size : 16px;
    text-align : center;
    color : black;
}

#mainTable{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

th,tr,td{
    text-align : center;
    overflow: auto;
}


input[type=text], input[type=number]{
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#container{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    border: 1px solid black;
    border-radius: 2%;
    margin: 10px;
}

#saveBtn{
    margin: 5px;
}

#listsContainer{
   width: 20%;
    height:100%;
    position: absolute;
}

.listDiv{
    border: 1px solid black;
    width: 100%;
    height: 20%;
    margin: 5px;
    background-color: lightgray;
}

