<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demo</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>
	<link href="style.css" rel="stylesheet">
</head>

<body>
  <h1>List View Example</h1>
	<table id = 'mainTable'>
	<tr>
		<th> Data number </th>
		<th> Value </th>
	</tr>
	</table>

	<div id="container">
		<label for="name"><b>Name of product</b></label>
		<input type="text" placeholder="Enter name" id="name" required>

		<label for="amount"><b>Amount</b></label>
		<input type="number" placeholder="0" id="amount" required>

		<button type="submit" id="submitBtn">Save</button>
	</div>


</body>
</html>
