<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demo</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>
	<link href="style.css" rel="stylesheet">
</head>

<body>
  <h1 id = "title">New Shopping List</h1>

	<table id = 'mainTable'>
	<tr>
		<th> Data number </th>
		<th> Value </th>
		<th></th>
		<th></th>
		<th><button type="submit" id="saveBtn">SAVE LIST</button></th>
	</tr>
	</table>

  <div id="listsContainer">
	  <div class="listDiv" id="firstListDiv">
		  <h1>New List</h1>
	  </div>
  </div>


	<div id="container">
		<label for="name"><b>Name of product</b></label>
		<input type="text" placeholder="Enter name" id="name" required>

		<label for="amount"><b>Amount</b></label>
		<input type="number" placeholder="0" id="amount" required>

		<button type="submit" id="submitBtn">Save</button>
	</div>



</body>
</html>
